[Unit]
Description=LED Matrix Sign Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/matteo/led-matrix-sign-python/main.py 
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=led-matrix-sign
AmbientCapabilities=CAP_SYS_BOOT

[Install]
WantedBy=multi-user.target