<!DOCTYPE html/>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <style>
    body {
      font-family: system-ui, Roboto, Helvetica;
    }
  </style>
  <title>LED Matrix Display</title>
</head>
<body>
  <h1>LED Matrix Display</h1>
  {% if EMULATE_RGB_MATRIX %}
    <h2>Emulator</h2>
    <details>
      <summary>Emulator preview</summary>
      <div id="emulator-container">
        <img src="#" id="emulator-image" />
      </div>
    </details>
    <a href="3" id="emulator-link">Go to emulator</a>
    <script type="text/javascript">
      const emulator_domain = "http://" + window.location.hostname + ":8888";
      document.getElementById("emulator-link").href = emulator_domain;
      document.getElementById("emulator-image").src = emulator_domain + "/image";
    </script>
  {% endif %}
  <script>
    async function handleFormSubmit(event, form) {
      event.preventDefault();
      const formData = new FormData(form);
      const queryString = new URLSearchParams(formData).toString();
      const url = form.action + '?' + queryString;
      
      try {
        const existingError = form.querySelector('.error-message');
        if (existingError) {
            existingError.remove();
        }
        const response = await fetch(url);
        if (!response.ok) {
          throw new Error('Request failed');
        }
        
        setTimeout(() => {
          window.location.reload();
        }, 250);
      } catch (error) {
        const submitButton = form.querySelector('input[type="submit"]');
        const errorSpan = document.createElement('span');
        errorSpan.textContent = ' ' + error.message;
        errorSpan.className = 'error-message';
        errorSpan.style.color = 'red';
        submitButton.insertAdjacentElement('afterend', errorSpan);
      }
    }
  </script>

  <form method="GET" action="/set/mode" onsubmit="handleFormSubmit(event, this)">
    <h2>Set sign mode</h2>
    <p>Current sign mode is <span style="font-weight: bold;">{{ current_mode.name }}</span></p>
    <select name="id">
      {% for mode in SignMode %}
        <option value="{{ mode.value }}" {% if current_mode == mode %}selected{% endif %}>{{ mode.name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Set sign mode">
  </form>
  {% if current_mode == SignMode.MBTA %}
    <form method="GET" action="/set/mbta-station" onsubmit="handleFormSubmit(event, this)">
      <h2>Set MBTA station</h2>
      <p>Current station is <span style="font-weight: bold;">{{ mbta_current_station_label }}</span></p>
      <select name="mbta-route">
        {% for route in mbta_stations_by_route.keys() | sort %}
          <option value="{{ route }}">{{ route }}</option>
        {% endfor %}
      </select>
      <select name="id" id="mbta-station">
        <option value="">Select a station</option>
      </select>
      <input type="submit" value="Set station">
    </form>
    <form method="GET" action="/trigger/banner" onsubmit="handleFormSubmit(event, this)">
      <h2>Trigger banner</h2>
      <input type="submit" value="Trigger banner">
    </form>
    <script>
      const mbtaRouteSelect = document.querySelector('select[name="mbta-route"]');
      const mbtaStationSelect = document.getElementById('mbta-station');
      const mbtaStationsByRoute = JSON.parse('{{ mbta_stations_by_route | tojson }}');

      mbtaRouteSelect.addEventListener('change', (event) => {
        const selectedRoute = event.target.value;
        setStationSelector(selectedRoute);
      });

      setStationSelector(mbtaRouteSelect.value);

      function setStationSelector(route) {
        const stations = mbtaStationsByRoute[route];
        mbtaStationSelect.innerHTML = '';
        stations.forEach(station => {
          const option = document.createElement('option');
          option.value = station.stop_id;
          option.textContent = station.stop_name;
          mbtaStationSelect.appendChild(option);
        });
      }
    </script>
  {% endif %}
  {% if current_mode == SignMode.MTA %}
    <form method="GET" action="/set/mta-station" onsubmit="handleFormSubmit(event, this)">
      <h2>Set MTA station</h2>
      <p>Current station is <span style="font-weight: bold;">{{ mta_current_station_label }}</span></p>
      <select name="mta-route">
        {% for route in mta_stations_by_route.keys() | sort %}
          <option value="{{ route }}">{{ route }}</option>
        {% endfor %}
      </select>
      <select name="id" id="mta-station">
        <option value="">Select a station</option>
      </select>
      <input type="submit" value="Set station">
    </form>
    <form method="GET" action="/trigger/mta-alert" onsubmit="handleFormSubmit(event, this)">
      <h2>Trigger MTA alert</h2>
      <input type="submit" value="Trigger alert">
    </form>
    <script>
      const mtaRouteSelect = document.querySelector('select[name="mta-route"]');
      const mtaStationSelect = document.getElementById('mta-station');
      const mtaStationsByRoute = JSON.parse('{{ mta_stations_by_route | tojson }}');

      mtaRouteSelect.addEventListener('change', (event) => {
        const selectedRoute = event.target.value;
        setStationSelector(selectedRoute);
      });

      setStationSelector(mtaRouteSelect.value);

      function setStationSelector(route) {
        const stations = mtaStationsByRoute[route];
        mtaStationSelect.innerHTML = '';
        stations.forEach(station => {
          const option = document.createElement('option');
          option.value = station.stop_id;
          option.textContent = station.stop_name;
          mtaStationSelect.appendChild(option);
        });
      }
    </script>
  {% endif %}
  {% if current_mode == SignMode.TEST %}
    <form method="GET" action="/set/test" onsubmit="handleFormSubmit(event, this)">
      <h2>Set test message</h2>
      <input type="text" name="msg" value="">
      <input type="submit" value="Set message">
    </form>
  {% endif %}
</body>
