<!DOCTYPE html/>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <style>
    body {
      font-family: system-ui, Roboto, Helvetica;
    }
  </style>
  <title>LED Matrix Display</title>
</head>
<body>
  <h1>LED Matrix Display</h1>
  {% if EMULATE_RGB_MATRIX %}
    <div id="emulator-container">
      <img src="#" id="emulator-image" />
    </div>
    <a href="3" id="emulator-link">Go to emulator</a>
    <script type="text/javascript">
      const emulator_domain = "http://" + window.location.hostname + ":8888";
      document.getElementById("emulator-link").href = emulator_domain;
      document.getElementById("emulator-image").src = emulator_domain + "/image";
    </script>
  {% endif %}
  <form method="GET" action="/set/mode">
    <h2>Set sign mode</h2>
    <select name="id">
      {% for mode in sign_modes %}
        <option value="{{ loop.index0 }}" {% if current_mode == loop.index0 %}selected{% endif %}>{{ mode }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Set sign mode">
  </form>
  {% if current_mode == 1 %} <!-- SignMode.MBTA -->
    <form method="GET" action="/set/station">
      <h2>Set MBTA station</h2>
      <select name="id">
      {% for station in stations %}
        <option value="{{ loop.index0 }}" {% if current_station == loop.index0 %}selected{% endif %}>{{ station }}</option>
      {% endfor %}
      </select>
      <input type="submit" value="Set station">
    </form>
  {% endif %}
</body>
